*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


body {
  text-align: center;
  background-color: #023047;
}

h1 {
  font-size: 5rem;
  color: #fb8500;
  font-family:  'Bebas Neue', cursive;
  text-shadow: 3px 0 #219ebc;
  margin: 40px 0;
  letter-spacing: 12px;


}

footer {
  color: #DBEDF3;
  font-family: 'Bebas Neue', cursive;
}

.w {
  background-image: url("images/abs.jpg");
  background-size: cover;
}

.a {
  background-image: url("images/dunoo.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.s {
  background-image: url("images/ceb.jpg");
  background-size: cover;
}

.d {
  background-image: url("images/ogre.png");
  background-size: cover;
}

.j {
  background-image: url("images/boo.webp");
  background-size: cover;

}

.k {
  background-image: url("images/echoslam.jpg");
 background-size: 280px;
 background-position: center;

}

.l {
  background-image: url("images/io.png");
  background-size: cover;;

}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #69a6bb;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  width: 160px;
  height: 160px;
  outline: none;
  font-size:5rem;
  font-weight: 1000;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color:antiquewhite;
  color: #234e70;
  display: inline-block;
  margin: 9px;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  border: 10px solid #404B69;
  line-height: 2vmin;

}
.drum:hover{
  color:#fb8500;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
